@tailwind base;
@tailwind components;
@tailwind utilities;


::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-thumb {
  background-color: #0077B6; /* Màu xanh nước biển */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #005F87; /* Màu xanh nước biển đậm khi hover */
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
