@tailwind base;
@tailwind components;
@tailwind utilities;


@keyframes bounceInOut {
  0% {
    opacity: 0;
    transform: translateY(-50px);
  }
  50% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(50px);
  }
}

.animate-bounceEffect {
  animation: bounceInOut 3s ease-in-out infinite;
}
